.order-total
{
	display: none;
}
.wc-proceed-to-checkout
{
	display: none;
}
.woocommerce-shipping-destination
{
	display: none;
}
.woocommerce-shipping-calculator
{
	display: none;
}
.cart-collaterals
{
	display: none;
}